/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181c23;
  color: #fff;
  margin: 0;
  font-family: "Inter", "ui-sans-serif", "system-ui", sans-serif;
}
